<!DOCTYPE html>
<html>
  <head>
    <title>Readfeeder</title>
    <%= favicon_link_tag 'http://res.cloudinary.com/dhuab49yi/image/upload/c_scale,w_16/v1506719561/readfeeder_favicon_oskkhr.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
